<form id="edit-form"  class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input id="c-id" class="form-control" name="row[id]" type="hidden"  value="{$row.id}" >
    <div class="form-group">
        <label for="c-total" class="control-label col-xs-12 col-sm-2">待发放专家服务费:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total" class="form-control" name="row[total]" type="text"  value="{$row.total|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-id_no_bank_name" class="control-label col-xs-12 col-sm-2">收款银行:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id_no_bank_name" class="form-control" name="row[id_no_bank_name]" type="text"  value="{$row.id_no_bank_name|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-sn" class="control-label col-xs-12 col-sm-2">关联订单:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sn" class="form-control" name="row[sn]" type="text"  value="{$row.sn|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-id_no_bank_id" class="control-label col-xs-12 col-sm-2">收款账户:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id_no_bank_id" class="form-control" name="row[id_no_bank_id]" type="text"  value="{$row.id_no_bank_id|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">订单状态:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" name="row[status]" type="text"  value="{$row.status|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">收款人:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text"  value="{$row.name|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">需求方:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" class="form-control" name="row[nickname]" type="text"  value="{$row.nickname|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-need_invoice" class="control-label col-xs-12 col-sm-2">开票类型:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-need_invoice" class="form-control" name="row[need_invoice]" type="text"  value="{$row.need_invoice|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-specia_name" class="control-label col-xs-12 col-sm-2">服务专家:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-specia_name" class="form-control" name="row[specia_name]" type="text"  value="{$row.specia_name|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-rate_fee_per" class="control-label col-xs-12 col-sm-2">开票税点:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rate_fee_per" class="form-control" name="row[rate_fee_per]" type="text"  value="{$row.rate_fee_per|htmlentities}" disabled>
        </div>
    </div>


    <div class="form-group">
        <label for="c-sys_fee_per" class="control-label col-xs-12 col-sm-2">平台服务费率:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sys_fee_per" class="form-control" name="row[sys_fee_per]" type="text"  value="{$row.sys_fee_per|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-rate_fee" class="control-label col-xs-12 col-sm-2">税点金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rate_fee" class="form-control" name="row[rate_fee]" type="text"  value="{$row.rate_fee|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-sys_fee" class="control-label col-xs-12 col-sm-2">平台服务金额:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sys_fee" class="form-control" name="row[sys_fee]" type="number"  value="{$row.sys_fee|htmlentities}" disabled>
        </div>
    </div>



    <div class="form-group">
        <label for="c-id_no_bank_name" class="control-label col-xs-12 col-sm-2">收款银行:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[id_no_bank_name]" type="text"  value="{$row.id_no_bank_name|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-id_no_bank_id" class="control-label col-xs-12 col-sm-2">收款账户:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[id_no_bank_id]" type="text"  value="{$row.id_no_bank_id|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">收款人:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[id_no_bank_user]" type="text"  value="{$row.id_no_bank_user|htmlentities}" disabled>
        </div>
    </div>

    <div class="form-group">
        <label for="c-real_total" class="control-label col-xs-12 col-sm-2">专家实收款:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_total" class="form-control" name="row[real_total]" type="text"  value="{$row.real_total|htmlentities}" disabled>
        </div>
    </div>



    <div class="form-group">
        <label for="c-grant_voucher" class="control-label col-xs-12 col-sm-2">转账凭证:</label>
        <div class="col-xs-12 col-sm-8">
            <img style="float: left;width: 200px;" class="profile-user-img img-responsive id-img" src="{$row.grant_voucher|htmlentities|cdnurl}" alt="">
        </div>
    </div>



</form>

