/nbproject/
/thinkphp/
/runtime/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
/public/.user.ini
/public/index.php
index.php
application/database.php
