<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--                        -->
<!--            <select  id="c-type" class="form-control selectpicker" name="row[type]">-->
<!--                {foreach name="typeList" item="vo"}-->
<!--                    <option value="{$key}" {in name="key" value="$row.type"}selected{/in}>{$vo}</option>-->
<!--                {/foreach}-->
<!--            </select>-->

<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_name" class="form-control" name="row[user_name]" type="text" value="{$row.user_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-user_type" class="form-control selectpicker" name="row[user_type]">
                {foreach name="userTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.user_type"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sn" class="form-control" name="row[sn]" type="text" value="{$row.sn|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <input id="row[status]" name="row[status]" type="hidden" value="2" />
        <label class="control-label col-xs-12 col-sm-2">{:__('当前状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                匹配中
            </div>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('行业标签')}:</label>
        <input id="c-industry_ids" type="hidden" name="row[industry_ids]" />
        <div class="col-xs-12 col-sm-8 industry_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="1" href="javascript:" >选择</a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('技能标签')}:</label>
        <input id="c-skill_ids" type="hidden" name="row[skill_ids]" />
        <div class="col-xs-12 col-sm-8 skill_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="2" href="javascript:" >选择</a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('地区标签')}:</label>
        <input id="c-area_ids" type="hidden" name="row[area_ids]" />
        <div class="col-xs-12 col-sm-8 area_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="3" href="javascript:" >选择</a>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Begin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-begin" class="form-control" name="row[begin]" type="text" value="{$row.begin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('End')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-end" class="form-control" name="row[end]" type="text" value="{$row.end|htmlentities}">
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Keywords_tags')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-keywords_tags" class="form-control" data-role="tagsinput" name="row[keywords_tags]" type="text" value="{$row.keywords_tags|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Files')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="true-name1" class="form-control" size="50" name="row[files]" type="text" value="{$row.files|htmlentities}">
                <input id="true-name" class="form-control" size="50" name="row[files2]" type="hidden" value="{$row.files2|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-files" class="btn btn-danger faupload" data-input-id="true-name" data-multiple="true" data-preview-id="p-files"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!--<span><button type="button" id="fachoose-files" class="btn btn-primary fachoose" data-input-id="c-files" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                </div>
                <span class="msg-box n-right" for="c-files"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-files"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Open_price_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="openPriceDataList" item="vo"}
            <label for="row[open_price_data]-{$key}"><input id="row[open_price_data]-{$key}" name="row[open_price_data]" type="radio" value="{$key}" {in name="key" value="$row.open_price_data"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}" data-rule="required;range(0~)">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Publishtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-publishtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[publishtime]" type="text" value="{$row.publishtime}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
