<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" >
    <div class="title">
        <h3>基础信息</h3>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">手机号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" class="form-control" name="row[mobile]" type="text" data-rule="required;mobile">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">密码:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" class="form-control" name="row[password]" type="text" data-rule="required;diypwd">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" data-rule="required">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Wechat')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wechat" class="form-control" name="row[wechat]" type="text" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Addr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addr" class="form-control" name="row[addr]" type="text" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" class="form-control" name="row[nickname]" type="text" data-rule="required">
        </div>
    </div>

    <div class="title">
        <h3>专家信息登记</h3>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Industry_ids')}:</label>
        <input id="c-industry_ids" type="hidden" name="row[industry_ids]" data-rule="required"/>
        <div class="col-xs-12 col-sm-8 industry_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="1" href="javascript:" >选择</a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Skill_ids')}:</label>
        <input id="c-skill_ids" type="hidden" name="row[skill_ids]" data-rule="required"/>
        <div class="col-xs-12 col-sm-8 skill_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="2" href="javascript:" >选择</a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Area_ids')}:</label>
        <input id="c-area_ids" type="hidden" name="row[area_ids]" data-rule="required"/>
        <div class="col-xs-12 col-sm-8 area_ids">
            <a class="btn btn-primary sel" style="margin-bottom: 5px;" data-type="3" href="javascript:" >选择</a>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2 required">{:__('Level_ids')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-level_ids" data-rule="required" data-source="level/index" data-multiple="true" class="form-control selectpage" name="row[level_ids]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Level_ids')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Level_ids" class="form-control" name="row[Level_ids]" type="text" data-role='tagsinput' data-tagsinput-options='{"maxTags":25,"maxChars":20,"trimValue":true}' data-rule="required">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Keywords_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keywords_json" class="form-control" name="row[keywords_json]" type="text" data-role='tagsinput' data-tagsinput-options='{"maxTags":25,"maxChars":20,"trimValue":true}' data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Lowest_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lowest_price" class="form-control" step="0.01" name="row[lowest_price]" type="number" data-rule="required;range(0~)">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Case_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-case_json" class="form-control" name="row[case_json]" type="hidden"> -->
            <dl class="fieldlist" data-name="row[case_json]" data-template="casetpl">
                <dd>
                </dd>
                <dd>
                        <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a>
                </dd>
                <textarea  id="c-case_json" name="row[case_json]" class="form-control hide" cols="30" rows="5" data-rule="required">

                </textarea>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('certificate_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-certificate_ids" data-rule="required" data-source="certificate/index" data-multiple="true" class="form-control" name="row[certificate_ids]" type="hidden" value=""> -->
            <div class="col-xs-12 col-sm-12">
                <table id="table2" class="table table-striped table-bordered table-hover table-nowrap"
                    data-operate-edit="" 
                    data-operate-del="" 
                    width="100%">
                    <tr><td class="tdh">证书名称</td><td class="tdh">证书时间</td><td class="tdh">证书凭证</td><td class="tdh">发证机构</td><td class="tdh">操作</td></tr>
                </table>
                <a  class="btn btn-primary" id="addcert">+</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('edu_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-edu_ids" data-rule="required" data-source="edu/index" data-multiple="true" class="form-control selectpage" name="row[edu_json]" type="text" value=""> -->
            <dl class="fieldlist" data-name="row[edu_json]" data-template="edutpl">
                <dd>
                </dd>
                <dd>
                        <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a>
                </dd>
                <textarea  id="c-edu_json" name="row[edu_json]" class="form-control hide" cols="30" rows="5" data-rule="required">

                </textarea>
            </dl>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Feature_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            <!-- <input id="c-feature_json" class="form-control" name="row[feature_json]" type="text"> -->
            <dl class="fieldlist" data-name="row[feature_json]" data-template="featuretpl">
                <dd>
                </dd>
                <dd>
                        <a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 追加</a>
                </dd>
                <textarea  id="c-feature_json" name="row[feature_json]" class="form-control hide" cols="30" rows="5" data-rule="required">

                </textarea>
            </dl>
        </div>
    </div>
   


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Intro')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-intro" class="form-control " rows="5" name="row[intro]" cols="50" data-rule="required"></textarea>
        </div>
    </div>
    <input type="hidden" name="row[status]" value="1" />
    <!--
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2 required">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>-->

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tags')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tags" class="form-control" data-role="tagsinput" name="row[tags]" type="text">
        </div>
    </div> -->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-primary btn-embossed">重置</button>
            <button type="button" id="sub" class="btn btn-primary btn-embossed">{:__('OK')}</button>
        </div>
    </div>
</form>
<!-- 添加证书弹框 -->
<form  id="add-certificate-form" style="display: none;" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group" style="margin-top:20px;">
        <label class="control-label col-xs-12 col-sm-2">证书名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">证书图片:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-certifiimage" class="form-control" size="50" name="row[certifiimage]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-certifiimage" class="btn btn-danger faupload" data-input-id="c-certifiimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-certifiimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-certifiimage" class="btn btn-primary fachoose" data-input-id="c-certifiimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-certifiimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-certifiimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">证书时间</label>
        <div class="col-xs-12 col-sm-8">
            <input data-locale='{"format":"YYYY/MM/DD"}' placeholder="指定日期" id="c-certifitime" class="form-control datetimerange" name="row[certifitime]" type="text" value=""  autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">证书机构</label>
        <div class="col-xs-12 col-sm-8">
            <input  placeholder="" id="c-certifi_company" class="form-control" name="row[certifi_company]" type="text" value="">
        </div>
    </div>
    
</form>

<!--专家特色模板-->
<script type="text/html" id="featuretpl">
    <dd class="form-group">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-8 col-sm-8" style="padding:0 0 20px 0;border:1px solid #aaa;">
                <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">标题</label>
                
                <div class="col-xs-12 col-sm-12">
                    <input style="width:100%;" style="" type="text" name="row[<%=name%>][<%=index%>][name]" class="form-control" value="<%=row['name']%>" size="10">
                </div>
                <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">描述</label>
                <div class="col-xs-12 col-sm-12">
                <textarea type="text" name="row[<%=name%>][<%=index%>][gender]" class="form-control" value="<%=row['desc']%>"><%=row['desc']%></textarea>
                </div> 
            </div>
            <div class="col-xs-4 col-sm-4 text-center">
                <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
            </div>
        </div>
    </dd>
</script>

<!--服务案例模板-->
<script type="text/html" id="casetpl">
    <dd class="form-group">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-8 col-sm-8" style="padding:0 0 20px 0;border:1px solid #aaa;">
                <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">标题</label>
                
                <div class="col-xs-12 col-sm-12">
                    <input placeholder="请用一句话描述服务案例" style="width:100%;" style="" type="text" name="row[<%=name%>][<%=index%>][desc]" class="form-control" value="<%=row['desc']%>" size="10">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 text-center">
                <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
            </div>
        </div>
    </dd>
</script>

<!--教育模板-->
<script type="text/html" id="edutpl">
    <dd class="form-group">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-10 col-sm-10">
                <div class="col-xs-6 col-sm-6" style="padding:0 0 20px 0;border:1px solid #aaa;">
                    <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">学校名称</label>
                    
                    <div class="col-xs-12 col-sm-12">
                        <input style="width:100%;" style="" type="text" name="row[<%=name%>][<%=index%>][school_name]" class="form-control" value="<%=row['school_name']%>" size="10">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6" style="padding:0 0 20px 0;border:1px solid #aaa;">
                    <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">学历</label>
                    
                    <div class="col-xs-12 col-sm-12">
                        <input style="width:100%;" style="" type="text" name="row[<%=name%>][<%=index%>][degree_name]" class="form-control" value="<%=row['degree_name']%>" size="10">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6" style="padding:0 0 20px 0;border:1px solid #aaa;">
                    <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">专业/研究方向</label>
                    
                    <div class="col-xs-12 col-sm-12">
                        <input style="width:100%;" style="" type="text" name="row[<%=name%>][<%=index%>][major_name]" class="form-control" value="<%=row['major_name']%>" size="10">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6" style="padding:0 0 20px 0;border:1px solid #aaa;">
                    <label class="control-label col-xs-12 col-sm-12" style="text-align:left;">时间段</label>
                    
                    <div class="col-xs-5 col-sm-5">
                        <input style="width:100%;" style="" type="year" name="row[<%=name%>][<%=index%>][begin_time]" class="form-control" value="<%=row['begin_time']%>" size="10">
                    </div>
                    <div class="col-xs-2 col-sm-2 text-center">-</div>
                    <div class="col-xs-5 col-sm-5">
                        <input style="width:100%;" style="" type="year" name="row[<%=name%>][<%=index%>][end_time]" class="form-control" value="<%=row['end_time']%>" size="10">
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 text-center">
                <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
            </div>
        </div>
    </dd>
</script>

<style>
    .dropup{
        margin-bottom: 5px;
        margin-right: 20px;
    }
    .tdh{
        height: 40px;
        line-height:40px;
        text-align: center;
    }
    .td{
        height: 80px !important;;
        line-height:80px !important;;
        text-align: center !important;
    }
</style>